@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Ubuntu:wght@500&display=swap');

body {
  position: relative;
  min-height: 100vh;
  text-align: center;
  font-family: 'Roboto Mono', Arial;
  background-color: #2e3440;
  color: #FFFFFF;
}

main {
  padding-bottom: 5rem;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5rem;
}

#levela-dev-logo {
  margin-top: 25vh;
  width: 200px;
  height: auto;
}

#levela-dev-text {
  margin-top: 6vh;
  margin-bottom: 5vh;
  width: 300px;
  height: auto;
}

.contact {
  margin-top: 5vh;
}

.copyright {
  color: white;
  font-size: 1.5rem;
}

a {
  color: white;
}

i {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  transition: .5s;
}

i:hover {
  color: #88c0d0;
}

@media only screen and (max-width: 768px) {
  #levela-dev-logo {
    margin-top: 10vh;
    width: 150px;
  }
  #levela-dev-text {
    width: 225px;
  }
  footer {
    height: 12rem;
  }
  main {
    padding-bottom: 12rem;
  }
}

span {
  color: #88c0d0;
}

.typewriter {
  display: inline-block;
}

.typewriter-text {
  display: inline-block;
  overflow: hidden;
  font-size: 1.2rem;
  animation: typing 5s steps(50, end), blink 1s step-end infinite;
  white-space: nowrap;
  border-right: 10px solid #88c0d0;
  box-sizing: border-box;
}

@keyframes typing {
  0% { 
    width: 0%;
  }
  20% { 
    width: 25%;
  }
  30% {
    width: 25%;
  }
  60% {
    width: 64%;
  }
  70% {
    width: 64%;
  }
  100% {
    width: 100%;
  }
}

@keyframes blink {
  from, to { 
      border-color: transparent 
  }
  50% { 
      border-color: #88c0d0; 
  }
}

.typewriter-mobile p {
  margin: 0 auto 0.8rem auto;
  border-right: 10px solid #88c0d0;
  font-size: 1rem;
  white-space: nowrap;
  overflow: hidden;
}

.typewriter-mobile {
  display: none;
}

@media only screen and (max-width: 1080px) {
  .typewriter-mobile {
    display: initial;
  }
  .typewriter {
    display: none;
  }
}

.typewriter-mobile p:nth-child(1) {
  width: 230px;
  -webkit-animation: type 1s steps(40, end);
  animation: type 1s steps(40, end), blink 1s step-end infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.typewriter-mobile p:nth-child(2) {
  width: 360px;
  opacity: 0;
  -webkit-animation: type2 1.5s steps(40, end);
  animation: type2 1.5s steps(40, end), blink 1s step-end infinite;
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.typewriter-mobile p:nth-child(3) {
  width: 320px;
  opacity: 0;
  -webkit-animation: type3 1.4s steps(40, end), blink 1s step-end infinite;
  animation: type3 1.4s steps(40, end), blink 1s step-end infinite;
  -webkit-animation-delay: 3.6s;
  animation-delay: 3.6s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    border-right: 10px solid #88c0d0;
  }
  100% {
    border: none;
  }
}

@-webkit-keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    border-right: 10px solid #88c0d0;
  }
  100% {
    border: none;
  }
}

@keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: 10px solid #88c0d0;
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@-webkit-keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: 10px solid #88c0d0;
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@keyframes type3 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes type3 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

@-webkit-keyframes blink {
  50% {
    border-color: transparent;
  }
}